* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  body {
    background-color: antiquewhite;
  }
  
  .menu {
    background-color: #5995DA;
    padding: 15px;
    display:flex;
    justify-content: space-around;
  }
  .menu a {
    text-decoration: none; /* Remove the underline */
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: color 0.2s;
    }
    .menu a:hover {
      color: black;
    }

  .header {
    color: white;
    font-weight: bold;
    background-color: #00D9C2;
    display: flex;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
  }

  
  .register,
  .contact {
    display: flex;
    align-items: center;
    margin: auto;
  }

  
.baselbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.textbox {
  /* Add some spacing and styling for the .textbox if needed */
  padding: 20px;
  max-width: 80%;
}

.baselpic img {
  border-radius: 5%;
}

.footer {
  color: white;
  background-color: #5995DA;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.textbodylol {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#egpic {
  border-radius: 5%;
}
